/* http://www.w3schools.com/css/tryit.asp?filename=trycss_table_color */
table {
    border-collapse: separate;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #eaf2a7
}

tr:nth-child(odd){background-color: #dbf262
}



th {
    background-color: #19ef8d;
    color: white;
}